<header class="header">
  <nav class="nav">
    <ul>
      <li><a routerLink="" routerLinkActive="active">{{[home()]}}</a></li>
      
      <li> <a routerLink="/nft" routerLinkActive="active">{{[nft()]}}</a></li>
    <li><a routerLink="/nosotros" routerLinkActive="active">{{[nosotros()]}}</a></li>
    <li><a routerLink="/registrar" routerLinkActive="active">{{[registro()]}}</a></li>
    <li><a routerLink="/inicio-sesion" routerLinkActive="active">{{[inicio()]}}</a></li>

    </ul>
  </nav>
</header>
